.basket-item {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    border-top: 1px solid #ddd;
}

.basket-item:first-child {
    border-top: none;
}

.basket-item-image img {
    width: 80px;
    height: auto;
    border-radius: 4px;
}

.basket-item-details {
    flex-grow: 1;
    padding-left: 15px;
}

.basket-item-brand {
    font-weight: bold;
    font-weight: 0.9rem;
    margin: 0px;
}

.basket-item-title {
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
}

.basket-item-delivery {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
}

.basket-item-quantity {
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

.basket-item-quantity button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.basket-item-price {
    margin-right: 20px;
    font-weight: bold;
    color: var(--primary-orange);
    width: 12%;
    text-align: center;
}

.basket-item-remove {
    cursor: pointer;
    color: var(--primary-orange);
    font-size: 1rem;
}

.basket-item-remove i {
    padding: 5px;
}