.App {
  text-align: center;
}

.container {
  max-width: 1200px; /* Adjust this to your preferred max-width */
  margin: 0 auto; /* Centers the container */
  padding: 0 20px; /* Equal padding on sides */
  box-sizing: border-box; /* Includes padding in width calculation */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
